// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito'); // Variables
@import 'variables'; // Bootstrap
@import 'mediaqueries'; // Bootstrap
// @import 'lightslider';
@import '~bootstrap/scss/bootstrap';

.bg-eliano {
    background-color: $eliano;
}

.red-eliano {
  color: $eliano-red;
}

.w-80 {
  width: 80px;
}

.h-60 {
    height: 60px;
}

.search-scheda {
    height: 80px;
    border-radius: 20px;
}

.bold-20 {
    font-size: 20px;
    font-weight: bold;
}

.masthead {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    height: 90vh;
    width: 100vw;
    z-index: 999;
}

.nav {
    z-index: 1002;
}
//titolo immobile nello slider

.carousel-caption {
    position: absolute;
    width: 45%;
    background-color: rgba(248, 249, 250, 0.6);
    bottom: 20%;
    left: 0;
    margin-left: 10%;
    border-top-left-radius: 15px;
    padding-bottom: 0;
    padding-right: 0;
}

.carousel-indicators {
    width: 50%;
    margin: auto auto 7%;
}
//search bar home

.search-home {
    width: 80%;
    height: 120px;
    top: 85%;
    left: 0.1 * 100vw;
    border-radius: 5px;
    z-index: 99998;
}

.go-to {
    padding: 10px;
}

.go-to a {
    padding: 10px;
    margin-left: 0;
    background-color: #F7B500;
}

.status {
    background-color: #F7B500;
    border-radius: 5px;
    width: 80px;
    height: 32px;
    -webkit-box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    -moz-box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    position: absolute;
    bottom: 90px;
    left: 20px;
}

.status-scheda {
    background-color: #F7B500;
    border-radius: 5px;
    width: 85px;
    -webkit-box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    -moz-box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    p {
      font-size: 16px;
      padding: 5px;
    }
}

.status-offerta {
    background-color: #F7B500;
    border-radius: 5px;
    width: 60px;
    -webkit-box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    -moz-box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    box-shadow: 7px 9px 10px -6px rgba(0,0,0,0.82);
    p {
      font-size: 12px;
      padding: 5px;
    }
}

.search-sel {
    background-color: transparent;
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align-last: center;
    border-color: white;
}

.logo {
    width: 20%;
    z-index: 1001;
    top: 10%;
}

.evidenza {
    margin-top: 100px;
}

.btn {
    border-radius: 10px;
}

hr {
    border: 0.5px solid #F7B500;
}

.color-yellow {
    color: #F7B500;
}

.active,
.bg-yellow {
    background-color: #F7B500 !important;
}

.under-title {
    font-weight: 100;
}

#menu {
    width: 100vw;
    height: 100vh;
    background-color: $eliano;
    z-index: 99999;
}

.menu-voce {
    font-size: 100px;
}

.menu-name {
    font-size: 200px;
    right: 20px;
    bottom: 0;
    color: rgba(255, 255, 255, 0.1);
}

.bg-chev {
    color: #294C59;
}

.eliano-red {
    color: $eliano-red;
}

.font-55 {
    font-size: 55px;
    font-weight: 400;
}

.font-50 {
    font-size: 50px;
    font-weight: 400;
}

.icona {
    width: 30px;
}

.icona-card {
  width: 20px;
}

// back
#label {
  font-size: 0.7rem;
}

#label .col-lg-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//slider
.swiper-container {
    width: 100vw;
    height: 90vh;
}

.swiper-button-next,
.swiper-button-prev {
color: white;
}

.thumb {
    width: 15%;
    height: 15%;
}

.img-container {
    position: relative;
    margin-top: 50px;
    // width: 15%;
    // height: 15%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.img-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.title {
    position: absolute;
    width: 500px;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.img-container:hover .title {
    top: 90px;
}

.button {
    position: absolute;
    width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.img-container:hover .button {
    opacity: 1;
}

.si {
    display: none;

}

.overlay:hover .si {
    display: block;
}

.iframerz {
  position: relative;
 overflow: hidden;
 width: 100%;
 padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.card-height {
  height: 50px;
}

select option {
    background-color: white;
    color: black;
}
//
// /* Prelaoder */
// #preloader {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 99999;
//   overflow: hidden;
//   background: $eliano;
// }
//
// #preloader:before {
//   content: url('img/logo_w_pre.png');
//   display: block;
//    // margin: 42px auto 24px;
//    margin: auto;
//    position: relative;
//    text-align: center;
//    width: 50%;
//   //position: fixed;
//   //left: calc(100vw - 65%);
//   // border: 400px solid white;
//   // border-top: 400px solid white;
//   // border-radius: 50%;
//   //width: 80px;
//   //height: 80px;
//   -webkit-animation: animate-preloader 1.2s linear infinite;
//   animation: animate-preloader 1.2s linear infinite;
//  }
